<div class="col-sm-6 col-md-4 col-md-offset-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong> Sign in to continue</strong>
    </div>

    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email address' %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="form-group">
          <%= f.submit "Log in", class: 'btn btn-lg btn-primary btn-block' %>
        </div>
      <% end %>
    </div>

    <%= render "users/shared/links" %>
  </div>
</div>