<%= form_for(google_result) do |f| %>
  <% if google_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(google_result.errors.count, "error") %> prohibited this google_result from being saved:</h2>

      <ul>
      <% google_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :keyword %>
    <%= f.text_field :keyword %>
  </div>

  <div class="field">
    <%= f.label :top_ads_count %>
    <%= f.text_field :top_ads_count %>
  </div>

  <div class="field">
    <%= f.label :bottom_ads_count %>
    <%= f.text_field :bottom_ads_count %>
  </div>

  <div class="field">
    <%= f.label :total_ads_count %>
    <%= f.text_field :total_ads_count %>
  </div>

  <div class="field">
    <%= f.label :top_ads_urls %>
    <%= f.text_field :top_ads_urls %>
  </div>

  <div class="field">
    <%= f.label :bottom_ads_urls %>
    <%= f.text_field :bottom_ads_urls %>
  </div>

  <div class="field">
    <%= f.label :non_ads_urls %>
    <%= f.text_field :non_ads_urls %>
  </div>

  <div class="field">
    <%= f.label :links_count %>
    <%= f.text_field :links_count %>
  </div>

  <div class="field">
    <%= f.label :results_count %>
    <%= f.number_field :results_count %>
  </div>

  <div class="field">
    <%= f.label :results_search_time %>
    <%= f.text_field :results_search_time %>
  </div>

  <div class="field">
    <%= f.label :html_cache %>
    <%= f.text_area :html_cache %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
