<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="20%">Key word</th>
        <th width="20%">Top ads urls</th>
        <th width="25%">Bottom ads urls</th>
        <th width="30%">Non ads urls</th>
        <th width="5%">Html</th>
        <!-- <th colspan="3"></th> -->
      </tr>
    </thead>

    <tbody>
      <% _.each(google_results, function(google_result){ %>
        <tr>
          <td>
            <dl class="dl-horizontal">
              <dt>Key word: </dt>
              <dd><%= google_result.keyword %></dd>
              <dt>Top ads: </dt>
              <dd><%= google_result.top_ads_count %></dd>
              <dt>Bottom ads: </dt>
              <dd><%= google_result.bottom_ads_count %></dd>
              <dt>Total ads: </dt>
              <dd><%= google_result.total_ads_count %></dd>
              <dt>Total results: </dt>
              <dd><%= google_result.results_count %></dd>
              <dt>Links count: </dt>
              <dd><%= google_result.links_count %></dd>
              <dt>Search time: </dt>
              <dd><%= google_result.results_search_time %> s</dd>
            </dl>
          </td>
          <td><%= google_result.top_ads_urls %></td>
          <td><%= google_result.bottom_ads_urls %></td>
          <td><%= google_result.non_ads_urls %></td>
          <td><a href="/google_results/<%=google_result.id%>">show detail</a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>