<%= stylesheet_link_tag 'google_results' %>

<h1>Google Results</h1>
<div class="pull-left">
  <a class="btn btn-info" href="/template_csv">Download template</a>
  <label class="btn btn-primary btn-file">
    Upload keywords csv <input id="keywords_csv" name="keywords_csv[]" type="file" multiple hidden />
  </label>
</div>

<div class="form-inline">
  <div class="col-md-4">
    Report <%= select_tag(:upload_histories, options_for_select(@upload_histories), class: 'form-control') %>
  </div>
</div>

<div class="report">
  <script type="text/template" id="report">
    <%= render 'report' %>
  </script>
</div>

<div class="overlay"></div>