<p id="notice"><%= notice %></p>

<p>
  <strong>Keyword:</strong>
  <%= @google_result.keyword %>
</p>

<p>
  <strong>Top ads count:</strong>
  <%= @google_result.top_ads_count %>
</p>

<p>
  <strong>Bottom ads count:</strong>
  <%= @google_result.bottom_ads_count %>
</p>

<p>
  <strong>Total ads count:</strong>
  <%= @google_result.total_ads_count %>
</p>

<p>
  <strong>Top ads urls:</strong>
  <%= @google_result.top_ads_urls %>
</p>

<p>
  <strong>Bottom ads urls:</strong>
  <%= @google_result.bottom_ads_urls %>
</p>

<p>
  <strong>Non ads urls:</strong>
  <%= @google_result.non_ads_urls %>
</p>

<p>
  <strong>Links count:</strong>
  <%= @google_result.links_count %>
</p>

<p>
  <strong>Results count:</strong>
  <%= @google_result.results_count %>
</p>

<p>
  <strong>Results search time:</strong>
  <%= @google_result.results_search_time %>
</p>

<p>
  <strong>Html cache:</strong>
  <%= @google_result.html_cache.force_encoding("UTF-8") %>
</p>

<%= link_to 'Edit', edit_google_result_path(@google_result) %> |
<%= link_to 'Back', google_results_path %>
