@import "bootstrap-sprockets"
@import "bootstrap"

.overlay
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(0, 0, 0, 0.6)
  z-index: 9999
  color: white
  display: none