// Place all the styles related to the GoogleResults controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
[hidden]
  display: none !important

table
  table-layout: fixed
  td
    white-space: normal !important
    word-wrap: break-word

.dl-horizontal
  dt
    width: 90px
  dd
    margin-left: 100px

.table-responsive
  margin-top: 70px