<!DOCTYPE html>
<html>
  <head>
    <title>TechnicalTestNimbl3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div>
        <%= render 'layouts/header' %>
        <h3><%= link_to "My Google", '#' %></h3>
        <h5>Technical Test Nimbl3 collect data of google search</h5>
      </div>
      <hr />
      <% if notice %><div class="alert alert-success"><%= notice %></div><% end %>
      <% if alert %><div class="alert alert-danger"><%= alert %></div><% end %>

      <%= yield %>
    </div>
  </body>
</html>
