<div class="col-sm-6 col-md-4 col-md-offset-4">
  <div class="panel panel-default">

    <div class="panel-heading">
      <strong> Sign up</strong>
    </div>

    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email address' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
        </div>

        <div class="form-group">
          <%= f.submit "Sign up", class: 'btn btn-lg btn-primary btn-block' %>
        </div>
      <% end %>
    </div>

    <%= render "users/shared/links" %>
  </div>
</div>